/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/


.spotify-log-modal-content-container { 
	display: flex;
	flex-flow: column;
	gap: 0.75em;
}

.spotify-log-modal-button-container {
	display: flex;
	justify-content: space-between;
}
 
/* make input take full width */

.spotify-log-modal-input {
	resize: vertical;
	flex: 1;
}

.song-img {
	border-radius: 8px;
}

.song-container {
	display: flex;
	gap: 15px;
	margin: 5px 0px;
}

.song-text-container {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding: 3px
}

.song-title {
	font-size: larger;
}

